In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [18]:
accidents_causa= pd.read_csv("/Users/dannaciendua/Documents/CodeOp/group_project/dataset_gruopp/translated_content_accidents_causa.csv")
accidents_persona= pd.read_csv("/Users/dannaciendua/Documents/CodeOp/group_project/dataset_gruopp/translated_content_accidents_persones.csv")
accidents_vehicles= pd.read_csv("/Users/dannaciendua/Documents/CodeOp/group_project/dataset_gruopp/translated_content_accidents_vehicles.csv")

In [19]:
accidents_causa.head()

,Case_Number,District_Code,District_Name,Neighborhood_Code,Neighborhood_Name,Street_Code,Street_Name,Postal_Code,Day_of_Week,Year,Month_Code,Month_Name,Day_of_Month,Hour_of_Day,Shift_Description,Immediate_Cause_Description,UTM_X_Coordinate,UTM_Y_Coordinate,Longitude,Latitude
0,2023S000699,-1,Unknown,-1,Unknown,-1,Rovira (ascendent) ...,0,Saturday,2023,2,February,4,16,Afternoon,Lack of driving attention,430443.36,4585232.00,2.166596,41.413783
1,2023S005197,-1,Unknown,-1,Unknown,-1,Estatut de Catalunya ...,11,Friday,2023,9,September,1,13,Morning,Not respecting distances,429493.73,4587108.15,2.155015,41.430598
2,2023S007430,-1,Unknown,-1,Unknown,-1,Rovira (ascendent) ...,0,Friday,2023,12,December,15,11,Morning,Not respecting distances,430443.36,4585232.00,2.166596,41.413783
3,2023S000961,-1,Unknown,-1,Unknown,-1,Amílcar ...,120,Saturday,2023,1,January,28,14,Afternoon,Not respecting pedestrian crossing,430955.45,4586335.10,2.172596,41.423762
4,2023S006486,-1,Unknown,-1,Unknown,-1,Augusta / Hort de la Vila ...,NaN,Thursday,2023,11,November,2,14,Afternoon,Ignoring traffic light,426883.33,4583690.92,2.124189,41.399587

In [8]:
accidents_causa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8897 entries, 0 to 8896
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Numero_expedient          8897 non-null   object
 1   Codi_districte            8897 non-null   int64
 2   Nom_districte             8897 non-null   object
 3   Codi_barri                8897 non-null   int64
 4   Nom_barri                 8897 non-null   object
 5   Codi_carrer               8897 non-null   int64
 6   Nom_carrer                8897 non-null   object
 7   Num_postal                8893 non-null   object
 8   Descripcio_dia_setmana    8897 non-null   object
 9   NK_Any                    8897 non-null   int64
 10  Mes_any                   8897 non-null   int64
 11  Nom_mes                   8897 non-null   object
 12  Dia_mes                   8897 non-null   int64
 13  Hora_dia                  8897 non-null   int64
 14  Descripcio_torn           8897 non-null   object
 15  Descripcio_causa_mediata  8897 non-null   object
 16  Coordenada_UTM_X_ED50     8897 non-null   float64
 17  Coordenada_UTM_Y_ED50     8897 non-null   float64
 18  Longitud_WGS84            8897 non-null   float64
 19  Latitud_WGS84             8897 non-null   float64
dtypes: float64(4), int64(7), object(9)
memory usage: 1.4+ MB

In [20]:
accidents_persona.head()

,Case_Number,District_Code,District_Name,Neighborhood_Code,Neighborhood_Name,Street_Code,Street_Name,Postal_Code,Day_of_Week,Year,...,Age,Person_Type_Description,Pedestrian_Accident_Location_Description,Pedestrian_Movement_Reason_Description,Driver_Movement_Reason_Description,Victimization_Description,UTM_X_Coordinate,UTM_Y_Coordinate,Longitude,Latitude
0,2023S000001,3,Sants-Montjuïc,18,Sants,30602,Badal,0186 0186,Diumenge,2023,...,57,Pedestrian,En zona peatonal ...,Unknown,Unknown,Ferit greu: hospitalització superior a 24h,427409.24,4580907.46,2.130813,41.374565
1,2023S000003,1,Ciutat Vella,1,el Raval,67307,Carme,0075 0079,Diumenge,2023,...,45,Pedestrian,Fora del pas ...,Unknown,Unknown,Ferit lleu: Hospitalització fins a 24h,430479.42,4581533.3,2.167452,41.380473
2,2023S000005,6,Gràcia,31,la Vila de Gràcia,282401,Riera de Sant Miquel / Sèneca ...,0017 0017,Diumenge,2023,...,45,Driver,Desconegut ...,Unknown,Es desconeix,Ferit lleu: Hospitalització fins a 24h,429637.2,4583426.13,2.157161,41.397448
3,2023S000006,6,Gràcia,31,la Vila de Gràcia,206403,Gran de Gràcia / Gràcia ...,0072 0072,Diumenge,2023,...,49,Driver,Desconegut ...,Unknown,Es desconeix,Ferit lleu: Amb assistència sanitària en lloc ...,429497.51,4583693.13,2.155459,41.399841
4,2023S000007,3,Sants-Montjuïc,12,la Marina del Prat Vermell,180,Ramon Albó ...,0093 0093,Diumenge,2023,...,27,Driver,Desconegut ...,Unknown,Es desconeix,Ferit lleu: Hospitalització fins a 24h,431331.37,4586678.86,2.177056,41.426891

In [9]:
accidents_persona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8776 entries, 0 to 8775
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Numero_expedient                         8776 non-null   object
 1   Codi_districte                           8776 non-null   int64
 2   Nom_districte                            8776 non-null   object
 3   Codi_barri                               8776 non-null   int64
 4   Nom_barri                                8776 non-null   object
 5   Codi_carrer                              8776 non-null   int64
 6   Nom_carrer                               8776 non-null   object
 7   Num_postal                               8776 non-null   object
 8   Descripcio_dia_setmana                   8776 non-null   object
 9   NK_ Any                                  8776 non-null   int64
 10  Mes_ any                                 8776 non-null   int64
 11  Nom_mes                                  8776 non-null   object
 12  Dia_mes                                  8776 non-null   int64
 13  Descripcio_torn                          8776 non-null   object
 14  Hora_dia                                 8776 non-null   int64
 15  Descripcio_causa_vianant                 8776 non-null   object
 16  Desc_Tipus_vehicle_implicat              8776 non-null   object
 17  Descripcio_sexe                          8776 non-null   object
 18  Edat                                     8776 non-null   object
 19  Descripció_tipus_persona                 8776 non-null   object
 20  Descripcio_Lloc_atropellament_vianant    8776 non-null   object
 21  Descripcio_Motiu_desplacament_vianant    8776 non-null   object
 22  Descripcio_Motiu_desplacament_conductor  8776 non-null   object
 23  Descripcio_victimitzacio                 8776 non-null   object
 24  Coordenada_UTM_X_ED50                    8776 non-null   object
 25  Coordenada_UTM_Y_ED50                    8776 non-null   object
 26  Longitud_WGS84                           8776 non-null   float64
 27  Latitud_WGS84                            8776 non-null   float64
dtypes: float64(2), int64(7), object(19)
memory usage: 1.9+ MB

In [21]:
accidents_vehicles.head()

,Case_Number,District_Code,District_Name,Neighborhood_Code,Neighborhood_Name,Street_Code,Street_Name,Postal_Code,Day_of_Week,Year,...,Vehicle_Type_Description,Vehicle_Model_Description,Vehicle_Brand_Description,Vehicle_Color_Description,License_Description,License_Age,UTM_X_Coordinate,UTM_Y_Coordinate,Longitude,Latitude
0,2023S000536,-1,Unknown,-1,Unknown,-1,Motors / Acer ...,NaN,Thursday,2023,...,Car,ASTRA,OPEL,granate,Unknown,Unknown,428118.93,4578054.77,2.139637367,41.348935697
1,2023S000506,-1,Unknown,-1,Unknown,-1,Motors ...,152-154,Thursday,2023,...,Motorcycle,FSH125,HONDA,Gray,B,11,428888.97,4578390.79,2.148801757,41.352030518
2,2023S000506,-1,Unknown,-1,Unknown,-1,NaN,NaN,Thursday,2023,...,Car,XCEED,KIA,White,B,39,428888.97,4578390.79,2.148801757,41.352030518
3,2023S001678,-1,Unknown,-1,Unknown,-1,Corts / Arístides Maillol ...,NaN,Thursday,2023,...,Bus,LION'S CITY G,MAN,Red,D,17,426626.85,4581292.09,2.121411776,41.377958412
4,2023S002486,-1,Unknown,-1,Unknown,-1,Glòries Catalanes ...,1,Thursday,2023,...,Autobús articulat,HYBRID H18,SOLARIS,Red,E D,26,432052.4,4583910.53,2.185995092,41.402018695

In [10]:
accidents_vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14361 entries, 0 to 14360
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Numero_expedient          14357 non-null  object
 1   Codi_districte            14361 non-null  int64
 2   Nom_districte             14361 non-null  object
 3   Codi_barri                14361 non-null  int64
 4   Nom_barri                 14361 non-null  object
 5   Codi_carrer               14361 non-null  int64
 6   Nom_carrer                14290 non-null  object
 7   Num_postal                14257 non-null  object
 8   Descripcio_dia_setmana    14361 non-null  object
 9   NK_Any                    14361 non-null  int64
 10  Mes_any                   14361 non-null  int64
 11  Nom_mes                   14361 non-null  object
 12  Dia_mes                   14361 non-null  int64
 13  Hora_dia                  14361 non-null  int64
 14  Descripcio_torn           14361 non-null  object
 15  Descripcio_causa_vianant  14361 non-null  object
 16  Descripcio_tipus_vehicle  14357 non-null  object
 17  Descripcio_model          14357 non-null  object
 18  Descripcio_marca          14357 non-null  object
 19  Descripcio_color          14357 non-null  object
 20  Descripcio_carnet         14357 non-null  object
 21  Antiguitat_carnet         14357 non-null  object
 22  Coordenada_UTM_X_ED50     14361 non-null  object
 23  Coordenada_UTM_Y_ED50     14361 non-null  object
 24  Longitud_WGS84            14361 non-null  object
 25  Latitud_WGS84             14361 non-null  object
dtypes: int64(7), object(19)
memory usage: 2.8+ MB

Missing values in Accidents Causes dataset:

NameError: name 'df_1' is not defined