In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import folium
from folium.plugins import HeatMap

In [3]:
accidents_vehicles= pd.read_csv("/Users/dannaciendua/Documents/CodeOp/group_project/dataset_gruopp/2023translated_content_accidents_vehicles.csv")

In [4]:
# Load your dataset
file_path = "/Users/dannaciendua/Documents/CodeOp/group_project/dataset_gruopp/2023translated_content_accidents_vehicles.csv"
accidents_vehicles = pd.read_csv(file_path)

# Define translations
translation_dict = {
    
    "Conductor": "Driver", 'Vianant': 'Pedestrian', 'Passatger': 'Passenger', 'En pas regulat per semŕfor': 'In crossing regulated by traffic lights',
    "Dilluns": "Monday", "Dimarts": "Tuesday", "Dimecres": "Wednesday",
    "Dijous": "Thursday", "Divendres": "Friday", "Dissabte": "Saturday", "Diumenge": "Sunday",
    "Gener": "January", "Febrer": "February", "Març": "March", "Abril": "April",
    "Maig": "May", "Juny": "June", "Juliol": "July", "Agost": "August",
    "Setembre": "September", "Octubre": "October", "Novembre": "November", "Desembre": "December",
    "Il.lčs": "Uninjured",
     "No és causa del vianant": "Not caused by the pedestrian",
    "Creuar per fora pas de vianants": "Crossing outside the pedestrian crossing",
    "Transitar a peu per la calçada": "Walking on the road",
    "Desobeir el senyal del semàfor": "Disobeying the traffic light signal",
    "Altres": "Others",
    "Desobeir altres senyals": "Disobeying other signals",
    "Es desconeix": "Unknown", "Desconegut": "Unknown", "Altres": "Others",
    "Taxi": "Taxi", "Turisme": "Car", "Motocicleta": "Motorcycle",  "Autobús articulat": "Articulated bus",
    "Bicicleta": "Bicycle",
    "Veh. mobilitat personal amb motor": "Motorized personal mobility vehicle",
    "Camió rígid <= 3,5 tones": "Rigid truck <= 3.5 tons",
    "Furgoneta": "Van",
    "Ciclomotor": "Moped",
    "Tot terreny": "All-terrain vehicle",
    "Maquinària d'obres i serveis": "Construction and service machinery",
    "Camió rígid > 3,5 tones": "Rigid truck > 3.5 tons",
    "Taxi": "Taxi",
    "Ambulància": "Ambulance",
    "Tricicle": "Tricycle",
    "Unknown": "Unknown",
    "Autocaravana": "Motorhome",
    "Autocar": "Coach",
    "Tractor camió": "Tractor truck",
    "Altres vehicles amb motor": "Other motorized vehicles",
    "Veh. mobilitat personal sense motor": "Non-motorized personal mobility vehicle",
    "Pick-up": "Pick-up",
    "Quadricicle < 75 cc": "Quadricycle < 75 cc",
    "Altres vehicles sense motor": "Other non-motorized vehicles",
    "Tren o tramvia": "Train or tram",
    "Quadricicle > 75 cc": "Quadricycle > 75 cc"
}
# Apply the translations
accidents_vehicles.replace(translation_dict, inplace=True)
# Save the translated dataset
output_path = "/Users/dannaciendua/Documents/CodeOp/group_project/dataset_gruopp/2023translated_content_accidents_vehicles.csv"
accidents_vehicles.to_csv(output_path, index=False)
print(f"Translated dataset saved to {output_path}")

Translated dataset saved to /Users/dannaciendua/Documents/CodeOp/group_project/dataset_gruopp/2023translated_content_accidents_vehicles.csv

In [5]:
accidents_vehicles.head()

,Case_Number,District_Code,District_Name,Neighborhood_Code,Neighborhood_Name,Street_Code,Street_Name,Postal_Code,Day_of_Week,Year,...,Vehicle_Type_Description,Vehicle_Model_Description,Vehicle_Brand_Description,Vehicle_Color_Description,License_Description,License_Age,UTM_X_Coordinate,UTM_Y_Coordinate,Longitude,Latitude
0,2023S000536,-1,Unknown,-1,Unknown,-1,Motors / Acer ...,NaN,Thursday,2023,...,Car,ASTRA,OPEL,granate,Unknown,Unknown,428118.93,4578054.77,2.139637367,41.348935697
1,2023S000506,-1,Unknown,-1,Unknown,-1,Motors ...,152-154,Thursday,2023,...,Motorcycle,FSH125,HONDA,Gray,B,11,428888.97,4578390.79,2.148801757,41.352030518
2,2023S000506,-1,Unknown,-1,Unknown,-1,NaN,NaN,Thursday,2023,...,Car,XCEED,KIA,White,B,39,428888.97,4578390.79,2.148801757,41.352030518
3,2023S001678,-1,Unknown,-1,Unknown,-1,Corts / Arístides Maillol ...,NaN,Thursday,2023,...,Bus,LION'S CITY G,MAN,Red,D,17,426626.85,4581292.09,2.121411776,41.377958412
4,2023S002486,-1,Unknown,-1,Unknown,-1,Glòries Catalanes ...,1,Thursday,2023,...,Articulated bus,HYBRID H18,SOLARIS,Red,E D,26,432052.4,4583910.53,2.185995092,41.402018695

In [6]:
accidents_vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14361 entries, 0 to 14360
Data columns (total 26 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Case_Number                   14357 non-null  object
 1   District_Code                 14361 non-null  int64
 2   District_Name                 14361 non-null  object
 3   Neighborhood_Code             14361 non-null  int64
 4   Neighborhood_Name             14361 non-null  object
 5   Street_Code                   14361 non-null  int64
 6   Street_Name                   14290 non-null  object
 7   Postal_Code                   14257 non-null  object
 8   Day_of_Week                   14361 non-null  object
 9   Year                          14361 non-null  int64
 10  Month_Code                    14361 non-null  int64
 11  Month_Name                    14361 non-null  object
 12  Day_of_Month                  14361 non-null  int64
 13  Hour_of_Day                   14361 non-null  int64
 14  Shift_Description             14361 non-null  object
 15  Pedestrian_Cause_Description  14361 non-null  object
 16  Vehicle_Type_Description      14357 non-null  object
 17  Vehicle_Model_Description     14357 non-null  object
 18  Vehicle_Brand_Description     14357 non-null  object
 19  Vehicle_Color_Description     14357 non-null  object
 20  License_Description           14357 non-null  object
 21  License_Age                   14357 non-null  object
 22  UTM_X_Coordinate              14361 non-null  object
 23  UTM_Y_Coordinate              14361 non-null  object
 24  Longitude                     14361 non-null  object
 25  Latitude                      14361 non-null  object
dtypes: int64(7), object(19)
memory usage: 2.8+ MB

In [20]:
columns_to_drop = ['District_Code', 'Neighborhood_Code', 'Street_Code', 'Postal_Code']
columns_existing = [col for col in columns_to_drop if col in accidents_vehicles.columns]
accidents_vehicles = accidents_vehicles.drop(columns=columns_existing, inplace=False)

# Display the first few rows
print(accidents_vehicles.head())

        Case_Number District_Name Neighborhood_Name  \
1   2023S000506           Unknown           Unknown
4   2023S002486           Unknown           Unknown
6   2023S002816           Unknown           Unknown
11  2023S003255           Unknown           Unknown
14  2023S003916           Unknown           Unknown

                                          Street_Name Day_of_Week  Year  \
1   Motors                                        ...    Thursday  2023
4   Glòries Catalanes                             ...    Thursday  2023
6   Motors                                        ...    Thursday  2023
11  Litoral (Llobregat)                           ...    Thursday  2023
14  Estatut de Catalunya                          ...    Thursday  2023

    Month_Code Month_Name  Day_of_Month  Hour_of_Day  ...  \
1            1    January            26           15  ...
4            4      April            27           20  ...
6            5        May            11           18  ...
11           6       June             1            8  ...
14           6       June            29            8  ...

   Vehicle_Type_Description Vehicle_Model_Description  \
1                Motorcycle                    FSH125
4           Articulated bus                HYBRID H18
6                Motorcycle                    SH 300
11               Motorcycle                   Unknown
14               Motorcycle                 X'PRO 125

   Vehicle_Brand_Description Vehicle_Color_Description License_Description  \
1                      HONDA                      Gray                   B
4                    SOLARIS                       Red                 E D
6                      HONDA                     Black                   A
11                   Unknown                   Unknown             Unknown
14                       SYM                     White                   B

   License_Age UTM_X_Coordinate UTM_Y_Coordinate    Longitude      Latitude
1           11       428888.97        4578390.79  2.148801757  41.352030518
4           26       432052.4         4583910.53  2.185995092  41.402018695
6           12       427994.28        4577969.06  2.138157684  41.348152595
11     Unknown       431302.28        4580803.95   2.17737453  41.373974837
14           3       429411.09        4587178.85  2.154017831   41.43122751

[5 rows x 22 columns]

In [11]:
accidents_vehicles.isnull().sum()

Case_Number                       4
District_Code                     0
District_Name                     0
Neighborhood_Code                 0
Neighborhood_Name                 0
Street_Code                       0
Street_Name                      71
Postal_Code                     104
Day_of_Week                       0
Year                              0
Month_Code                        0
Month_Name                        0
Day_of_Month                      0
Hour_of_Day                       0
Shift_Description                 0
Pedestrian_Cause_Description      0
Vehicle_Type_Description          4
Vehicle_Model_Description         4
Vehicle_Brand_Description         4
Vehicle_Color_Description         4
License_Description               4
License_Age                       4
UTM_X_Coordinate                  0
UTM_Y_Coordinate                  0
Longitude                         0
Latitude                          0
dtype: int64

In [21]:
accidents_vehicles = accidents_vehicles.dropna()

In [22]:
accidents_vehicles = accidents_vehicles.drop_duplicates()

In [27]:
accidents_vehicles['datetime'] = pd.to_datetime({
    'year': accidents_vehicles['Year'],
    'month': accidents_vehicles['Month_Code'],
    'day': accidents_vehicles['Day_of_Month']
}) + pd.to_timedelta(accidents_vehicles['Hour_of_Day'], unit='h')

# Display the first few rows with the new datetime column
print(accidents_vehicles[['datetime']].head())

              datetime
1  2023-01-26 15:00:00
4  2023-04-27 20:00:00
6  2023-05-11 18:00:00
11 2023-06-01 08:00:00
14 2023-06-29 08:00:00

In [28]:
accidents_vehicles.head()

,Case_Number,District_Name,Neighborhood_Name,Street_Name,Day_of_Week,Year,Month_Code,Month_Name,Day_of_Month,Hour_of_Day,...,Vehicle_Model_Description,Vehicle_Brand_Description,Vehicle_Color_Description,License_Description,License_Age,UTM_X_Coordinate,UTM_Y_Coordinate,Longitude,Latitude,datetime
1,2023S000506,Unknown,Unknown,Motors ...,Thursday,2023,1,January,26,15,...,FSH125,HONDA,Gray,B,11,428888.97,4578390.79,2.148801757,41.352030518,2023-01-26 15:00:00
4,2023S002486,Unknown,Unknown,Glòries Catalanes ...,Thursday,2023,4,April,27,20,...,HYBRID H18,SOLARIS,Red,E D,26,432052.4,4583910.53,2.185995092,41.402018695,2023-04-27 20:00:00
6,2023S002816,Unknown,Unknown,Motors ...,Thursday,2023,5,May,11,18,...,SH 300,HONDA,Black,A,12,427994.28,4577969.06,2.138157684,41.348152595,2023-05-11 18:00:00
11,2023S003255,Unknown,Unknown,Litoral (Llobregat) ...,Thursday,2023,6,June,1,8,...,Unknown,Unknown,Unknown,Unknown,Unknown,431302.28,4580803.95,2.17737453,41.373974837,2023-06-01 08:00:00
14,2023S003916,Unknown,Unknown,Estatut de Catalunya ...,Thursday,2023,6,June,29,8,...,X'PRO 125,SYM,White,B,3,429411.09,4587178.85,2.154017831,41.43122751,2023-06-29 08:00:00

In [31]:
accidents_vehicles['Vehicle_Color_Description'].unique()

array(['Gray', 'Red', 'Black', 'Unknown', 'White', 'Blau', 'Marró',
       'Negre/Groc', 'Daurat', 'Verd', 'Platejat', 'Others', 'Violeta',
       'Groc', 'granate', 'Taronja', 'Beige', 'Rosa'], dtype=object)